html, body {
    /* --logo-image: url("images/SkyLogo.png"); */
    padding: 0;
    margin: 0;
}

#carousel {
    position: relative;
    min-width: 100vw;
    min-height: 100vh; /* Adjust as per your requirement */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#carousel .background {
    top: 0;
    left: 0;
    z-index: 1; /* Keep the background behind the title image */
}

#carousel .title {
    position: absolute;
    width: 80%;
    top: 30%;
    left: 10%; /* Adjust as needed for the title to be in the middle left */
    transform: translateY(-50%); /* Center the title vertically */
    z-index: 1000; /* Above the background image */
}

#carousel .text-box {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; /* Text color */
    font-size: 2.8rem; /* Text size */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -10%); /* Adjust the vertical position under the title */
    z-index: 3; /* Ensure it's above the background and title images */
    width: 80%; /* Adjust the width as needed */
    text-align: justify; /* Center the text inside the text-box */
}

#container #logo {
    position: fixed; /* Fixed position relative to the viewport */
    right: 5%; /* Right margin from the viewport */
    bottom: 5%; /* Bottom margin from the viewport */
    width: 20%; /* Adjust width as needed */
}

#container {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}
